In [27]:
import pandas as pd

# Loading data from csv

US_states = pd.read_csv("C:/Users/Tendai/Documents/DS4/Reproducable research/RRcourse2022/US States.csv")

#viewing data

US_states.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [28]:
#Creating an empty list 

UpperUS_States=[]

#runing capitalization on every row 
for state in US_states['State']:
    UpperUS_States.append(state.upper())
#adding data to empty list
USupper = pd.DataFrame(UpperUS_States,columns=['Upper_Case'])
#loading data to csv 
USupper.to_csv("C:/Users/Tendai/Documents/DS4/Reproducable research/RRcourse2022/USstatesupper.csv")

In [30]:
#creating a list
Lower_States = []

#converting every state to lower 

for state in US_states['State']:
    Lower_States.append(state.lower())

#creating dataframe
LowerUSstates = pd.DataFrame(Lower_States,columns=["USstateslower"])
#loading data to csv
LowerUSstates.to_csv("C:/Users/Tendai/Documents/DS4/Reproducable research/RRcourse2022/USstateslower.csv")
print(LowerUSstates)

           USstateslower
0                alabama
1                 alaska
2                arizona
3               arkansas
4             california
5               colorado
6            connecticut
7               delaware
8   district of columbia
9                florida
10               georgia
11                hawaii
12                 idaho
13              illinois
14               indiana
15                  iowa
16                kansas
17              kentucky
18             louisiana
19                 maine
20               montana
21              nebraska
22                nevada
23         new hampshire
24            new jersey
25            new mexico
26              new york
27        north carolina
28          north dakota
29                  ohio
30              oklahoma
31                oregon
32              maryland
33         massachusetts
34              michigan
35             minnesota
36           mississippi
37              missouri
38          pennsylvania
39          rhode island
40        south carolina
41          south dakota
42             tennessee
43                 texas
44                  utah
45               vermont
46              virginia
47            washington
48         west virginia
49             wisconsin
50               wyoming